
.navbar {
    background-color: #bdbdbd;
    position: relative;
    top: 25px;
    height: 60px;
  }
  

  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    
  }
  

  .navbar-logo {
    height: 58px;
    width: 58px;
    object-fit: contain;
  }
  
 
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  

  .navbar-button {
    background-color: rgb(64, 210, 255);
    padding: 8px 12px;
    font-size: 14px;
    border: rgb(64, 210, 255);
    border-radius: 4px ;
    cursor: pointer;
    position: relative;
    left: 1000px;
    bottom: 51px;
    

  }

  .navbar-button1{
    background-color: rgb(64, 210, 255);
    padding: 8px 12px;
    font-size: 14px;
    border: rgb(64, 210, 255);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 980px;
    bottom: 51px;

  }
  

  .navbar-dropdown {
    position: relative;
  }
  
 
  .navbar-dropdown-menu {
    position: absolute;
    top: -15px;
    left: 1000px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
  }
  

  .navbar-dropdown-item {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
  }
  

  .navbar-mobile-menu {
    display: none;
  }
  

  .navbar-mobile-menu-items {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 16px;
  }
  
 
  .navbar-icon {
    color: #666;
    background-color: transparent;
    padding: 8px;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  

  
  .modal-close {
    position: absolute;
    top: 200px;
    right: 200px;
    padding: 8px;
    color: #000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .modal-close:hover {
    color: #f00;
  }
  